/*
Inter Weights 400 and 600
*/
body {
    font-family: 'Inter', sans-serif;
}

/* Base Styles */

p {
    font-size: 18px;
}

header {
    background-image: url(../img/header.jpg);
    background-size: cover;
    height: 40vh;
}

header .inner {
    margin: 0 auto;
    max-width: 1280px;
}

nav {
    background-color: rgba(255,255,255,.4);
    max-height: 0;
    overflow: hidden;
    padding: 1rem;
    width: 100%;
    transition: all .25s ease-out;
}

.open {
    max-height: 200px;
}

nav ul {
    margin-left: 0;
    padding-left: 0;
}

nav li {
    list-style: none;
}

nav a {
    color: #000;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
}

h1 {
    background-color: rgba(255,255,255,.4); 
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 1rem;
    text-transform: uppercase;
}

.menu-button {
    background-color: rgba(255,255,255,.4); 
    border: 1px solid transparent;
    padding: 1rem;
}

.menu-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.intro {
    bottom: 0;
    left: 0;
    text-transform: uppercase;
    padding: 1rem;
    position: absolute;
}

.featured-work {
    padding: 3rem 1rem;
} 

.featured-work h2 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.inner {
    margin: 0 auto;
    max-width: 1280px;
    position: relative;
}

header .inner {
    height: 100%;
}

.featured-work figure {
    margin-bottom: 2rem;
}

.featured-work figcaption {
    font-size: 14px;
    margin-top: 1rem;
    text-transform: uppercase;
}

.about-the-studio h2 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 1rem;
    text-transform: uppercase;
    margin-left: .5rem;
}

.about-the-studio {
    padding: 3rem 1rem;
    background-color: #FAFAFA;
}

.about-the-studio p {
    font-size: 15px;
    line-height: 26px;
    font-weight: 300px;
    padding: 1rem;
    margin-right: 3rem;
}

.stroke {
    border-left: #F2F2F2 solid 3px;
    margin-left: .5rem;
}

footer {
    margin-left: 24px;
    padding: 1rem;
}

h2 {
    font-size: 17px;
    text-transform: uppercase;
}


@media screen and (min-width: 680px) {
    .work-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem; 
    }
}

@media screen and (min-width: 800px) {
    .menu-button {
        display: none;
    }

    nav {
        display: block; !important;
        width: auto;
        max-height: 200px;
    }

    nav ul {
        display: flex;
        gap: 3rem;
    }

    .about-the-studio {
        display: grid;
        grid-template-columns: 1fr 3fr;
        padding: 5rem;
    }

    .about-the-studio h2 {
        margin-left: 15rem;
    }

    .stroke {
        margin-right: 12rem;
    }

    footer {
        margin-left: 15rem;
        padding: 1.5rem;
    }

}
